.topbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    font-family: "Handlee", cursive;
    z-index: 999;
    background-color: white;
}

.top-left,
.top-right {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: center;
}

.top-center {
    display: flex;
    flex: 6;
    justify-content: center;
}

.top-icon {
    font-size: 24px;
    margin-right: 15px;
    color: red;
    cursor: pointer;
}

#instagram {}

#instagram:hover {
    animation: none;
}

@keyframes timtim {
    50% {
        color: white;
        transform: scale(1.07);
    }
}

.top-list {
    color: red;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-list-item {
    font-weight: 900;
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
    padding: 3px;
    transition: all ease-in-out 0.3s;
}

.top-list-item:hover {
    transform: rotateZ(20deg);
}

.top-list-item:active {
    transform: scale(0.2);
}

.menu {
    cursor: pointer;
    font-size: 40px;
    color: red;
    animation: bounce 2s infinite ease;
}

.menu:hover {
    animation: none;
    transform: scale(1.03);
}

@keyframes bounce {
    50% {
        transform: translateY(4px);
    }
}